@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap');


.me {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(//i.pinimg.com/originals/a2/46https:/ed/a246ed55c0359371f37f81f139240635.jpg);
  background-size: cover;
  font-family: 'Quicksand', sans-serif;
}
.card {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  border-radius: 12px;
  background-image: url(https://fondosmil.com/fondo/1846.jpg);
  background-size: cover;
  width: 400px;
  font-family: 'Quicksand', sans-serif;
}

.inABox{
  border-bottom :5px ridge rgba(32, 34, 36, 0.44);
 
}
img {
  width: 150px;
  margin: 20px;
  border-radius: 20px;
}
h2 {
  color: black;
  text-shadow: 2px 2px rgba(240, 248, 255, 0.241);
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  letter-spacing: 0.8px;
  word-spacing: 1.6px;
  color: #000000;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}
a {
  font-family: 'Quicksand', sans-serif;
 font-size: 10pt;
 font-weight: bold;
 padding: 4px;
 
 color: #310202;
 text-decoration: none;
}

p {
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  letter-spacing: 0.8px;
  word-spacing: 1.6px;
  color: #000000;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  
}

select{
  

  font-family: Arial;
  color: gray;
  font-size: 15px;
  padding: 9px;
  text-decoration: none;
  border-radius: 10px;
  box-shadow: 0px 1px 3px #666666;
  border: solid #0a0a0a 2px;

}
option{
  font-family: Arial;
  color: gray;
  font-size: 15px;
}
